/* ===================================================================================================================
    The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
    Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
    Mobile view should appear only if the width of the browser is equal to or less than 767px. 
=================================================================================================================== */

/* GENERAL STYLING =============================================== */ 
/* GLOBAL RESET*/ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* CONSOLE FONT FOR ALL */
	font-family: monospace; 
    padding: 10px;
}

#container {
    position: relative;
}

section {
    background-color: grey;
    border: 3px solid black;
    margin: 20px;
    width: 400px;
    height: 150px;
    overflow: hidden;
}

h1#mainHeading {
    text-align: center;
    font-size: 175%;
}

h2.sectionTitle {
    font-size: 125%;
    width: 33%;
    float: right;
    text-align: center;
    border: 3px solid black;
    margin-top: -2px;
    margin-right: -3px;
}

h2#sectionTitle1 {
    background-color: yellow;
    position: absolute;
}
h2#sectionTitle2 {
    background-color: blue;
}
h2#sectionTitle3 {
    background-color: maroon;
    color: white;
}

p {
    padding: 10px;
    text-align: justify;
    display: inline-block;
}

section#section1 {
    position: absolute;
    left: 4%;
}
section#section2 {
    position: absolute;
    left: 37%;
}
section#section3 {
    position: absolute;
    left: 71%;
}
/* END OF GENERAL STYLING ======================================== */ 

/* DESKTOP */ 
@media (min-width: 992px) {
    
}

/* TABLET */ 
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* MOBILE */ 
@media (max-width: 767px) {
    
}