/* GLOBAL PARAMS*/
.text-bold{
    font-weight: bold;
}

/* HEADER NAV BAR */
#header-nav {
    background-color: lightgrey;
    border-radius: 0;
    border: 0;
}
/* NAV BAR LOGO */
.navbar-brand{
    float:left;
    height:50px;
    padding:15px 15px;
    font-size:28px;
    line-height:20px
}
.navbar-brand>img{display:block}

.navbar-default .navbar-brand {
    color: black;
}
.navbar-brand:focus,.navbar-brand:hover{
    color: white;
    text-decoration:none;
}
/* END NAV BAR LOGO */

/* NAV BAR BUTTON DROPDOWN */
#mobile-menu-button:hover{
    border-color: white;
    color: white;
    
}
.icon-bar:hover{
    background-color: white;
}
#collapsable-nav{
    box-sizing: border-box;
    width: 100%;
}
#nav-list a {
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background-color: aqua;
}
/* END NAV BAR BUTTON DROPDOWN */

/* END HEADER NAV BAR */


/* BODY */
.menu-div {
    padding: 5px; 
    margin-top: 15px; 
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
}
.menu-section{
    background-color: grey;
    padding: 10px; 
    height: 100%;
    overflow: hidden;
}
/* END BODY */

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .menu-div {
        height: 350px;
    }
    .menu-div-xs {
        height: 200px;
    }
    .row-top {
        height: 10%;
        overflow: hidden;
        margin-bottom: 5%;
    }
    .row-mid {
        height: 70%;
        overflow: hidden;
        margin-bottom: 5%;
    }
    .row-mid-xs {
        height: 70%;
        overflow: hidden;
        margin-bottom: 0%;
    }
    .row-bot {
        height: 15%;
        overflow: hidden;
    }
    

}
  
@media only screen and (min-width: 992px) {
    /* For desktop: */
    .menu-div {
        height: 350px;
    }
    .row-top {
        height: 10%;
        overflow: hidden;
        margin-bottom: 5%;
    }
    .row-mid {
        height: 70%;
        overflow: hidden;
        margin-bottom: 5%;
    }
    }
    .row-bot {
        height: 15%;
        overflow: hidden;
    }
}